Repository timstudt/movieDB: changes, and which Codecov flags are due for each by the changed paths.
All: ui, domain, data, tests

.codecov.yml:

coverage:
  status:
    project:
      ui:
        flags: ui
      domain:
        flags: domain
      data:
        target: 89%
        flags: data
        
comment:
  layout: "reach, diff, flags, files"
  behavior: default

flags:
  # filter the folder(s) you wish to measure by that flag
  ui:
    paths:
      - MovieDB/
  domain:
    paths:
      - Domain/
  data:
    paths:
      - Data/
  tests:
    paths:
      - MovieDBTests/
      - MovieDBDataTests/
      - MovieDBUITests/

ignore:
  - Pods/.*

debug danger swiftlint on CI
  .travis.yml
  Dangerfile
Due: none

minor fix Danger
  .travis.yml
  Dangerfile
Due: none

danger fixes
  .swiftlint.yml
  Dangerfile
  MovieDB.xcodeproj/project.pbxproj
Due: none

improvements on collection view (regular/compact layout)
  Data/Network/APIs/API.swift
  Data/Network/APIs/MovieDBAPIClient.swift
  Data/Network/Core/NetworkProvider.swift
  Data/Network/Core/URLRequestBuilder.swift
  Data/Network/Services/MovieNetworkService.swift
  Data/Network/Services/NetworkService.swift
  Data/Repositories/MovieRepository.swift
  Domain/Models/MovieModel.swift
  Domain/Services/DataService.swift
  Gemfile.lock
  MovieDB.xcodeproj/project.pbxproj
  MovieDB.xcodeproj/xcshareddata/xcschemes/MovieDBDataTests.xcscheme
  MovieDB/AppDelegate.swift
  MovieDB/Application/MovieCollection/MovieCollectionPresenter.swift
  MovieDB/Application/MovieCollection/MovieCollectionViewCell.swift
  MovieDB/Application/MovieCollection/MovieCollectionViewCellConfigurator.swift
  MovieDB/Application/MovieCollection/MovieCollectionViewController.swift
  MovieDB/Application/MovieCollection/MovieCollectionViewDataSource.swift
  MovieDB/Application/MovieCollection/MovieCollectionViewState.swift
  MovieDB/Application/Router.swift
  MovieDB/Application/Shared/CollectionViewDataSource.swift
  MovieDB/Application/Shared/UICollectionViewCellConfigurable.swift
  MovieDB/Application/UIBaseModule/ModuleBuilder.swift
  MovieDB/Application/UIBaseModule/ModuleProtocols.swift
  MovieDB/Application/UIBaseModule/Presenter.swift
  MovieDB/Application/UIBaseModule/View.swift
  MovieDB/Application/UIBaseModule/ViewState.swift
  MovieDB/Application/VideoCollection/VideoCollectionViewController.swift
  MovieDB/Application/VideoCollection/VideoCollectionViewDataSource.swift
  MovieDB/Application/VideoCollection/VideoCollectionViewState.swift
  MovieDB/Base.lproj/Main.storyboard
  MovieDBDataTests/MovieDBAPITests.swift
  MovieDBTests/MovieCollectionViewControllerTests.swift
  MovieDBTests/MovieDBTests.swift
  Podfile.lock
Due: ui, domain, data, tests

minor fix
  Data/Network/APIs/MovieDBAPI.swift
  MovieDB.xcodeproj/project.pbxproj
  MovieDB/Application/Shared/CollectionViewDataSource.swift
Due: ui, data

fixes unit test
  .travis.yml
  MovieDB.xcodeproj/project.pbxproj
Due: none

Xcode11
  .travis.yml
  fastlane/Fastfile
  fastlane/README.md
  install.sh
Due: none

upgrade travis build script
  .travis.yml
Due: none

added searchbar with RxCocoa
  Data/Network/Services/MovieNetworkService.swift
  Data/Repositories/ImageRepository.swift
  Data/Repositories/MovieRepository.swift
  Data/Services/DataService.swift
  Data/Services/ImageService.swift
  Data/Services/ListService.swift
  Data/Services/MovieService.swift
  Domain/RepositoryProtocols/MovieRepositoryProtocol.swift
  Domain/UseCases/GetMovies.swift
  Domain/UseCases/SearchMovies.swift
  MovieDB.xcodeproj/project.pbxproj
  MovieDB/AppDelegate.swift
  MovieDB/Application/AppRouter.swift
  MovieDB/Application/MovieCollection/MovieCollectionCoordinator.swift
  MovieDB/Application/MovieCollection/MovieCollectionPresenter.swift
  MovieDB/Application/MovieCollection/MovieCollectionViewCell.swift
  MovieDB/Application/MovieCollection/MovieCollectionViewController.swift
  MovieDB/Application/MovieCollection/MovieCollectionViewState.swift
  MovieDB/Application/Router.swift
  MovieDB/Application/UIBaseModule/Coordinator.swift
  MovieDB/Application/UIBaseModule/Presenter.swift
  MovieDB/Application/UIBaseModule/View.swift
  MovieDB/Application/UIBaseModule/ViewState.swift
  MovieDBDataTests/MovieNetworkServiceTests.swift
  MovieDBDataTests/MovieRepositoryTests.swift
  MovieDBTests/ViewStateTests.swift
  Podfile
  Podfile.lock
  generated/AutoMockable.generated.swift
Due: ui, domain, data, tests

fixes test case
  MovieDBTests/MovieCollectionViewControllerTests.swift
Due: tests

fixes tests
  MovieDB.xcodeproj/project.pbxproj
Due: none

fixes networkservicetests
  MovieDBDataTests/MovieNetworkServiceTests.swift
Due: tests

fixes movie repo
  Data/Repositories/MovieRepository.swift
Due: data

added ViewState tests
  MovieDB.xcodeproj/project.pbxproj
  MovieDB/AppDelegate.swift
  MovieDBTests/MovieCollectionViewStateTests.swift
Due: ui, tests

movie repository
  Data/Repositories/MovieRepository.swift
  Domain/RepositoryProtocols/MovieRepositoryProtocol.swift
  MovieDB/Application/MovieCollection/MovieCollectionViewCell.swift
  MovieDBDataTests/MovieRepositoryTests.swift
Due: ui, domain, data, tests

danger
  Dangerfile
Due: none

added searchbar with RxCocoa (#33)
  Dangerfile
  Data/Network/Services/MovieNetworkService.swift
  Data/Repositories/ImageRepository.swift
  Data/Repositories/MovieRepository.swift
  Data/Services/DataService.swift
  Data/Services/ImageService.swift
  Data/Services/ListService.swift
  Data/Services/MovieService.swift
  Domain/RepositoryProtocols/MovieRepositoryProtocol.swift
  Domain/UseCases/GetMovies.swift
  Domain/UseCases/SearchMovies.swift
  MovieDB.xcodeproj/project.pbxproj
  MovieDB/AppDelegate.swift
  MovieDB/Application/AppRouter.swift
  MovieDB/Application/MovieCollection/MovieCollectionCoordinator.swift
  MovieDB/Application/MovieCollection/MovieCollectionPresenter.swift
  MovieDB/Application/MovieCollection/MovieCollectionViewCell.swift
  MovieDB/Application/MovieCollection/MovieCollectionViewController.swift
  MovieDB/Application/MovieCollection/MovieCollectionViewState.swift
  MovieDB/Application/Router.swift
  MovieDB/Application/UIBaseModule/Coordinator.swift
  MovieDB/Application/UIBaseModule/Presenter.swift
  MovieDB/Application/UIBaseModule/View.swift
  MovieDB/Application/UIBaseModule/ViewState.swift
  MovieDBDataTests/MovieNetworkServiceTests.swift
  MovieDBDataTests/MovieRepositoryTests.swift
  MovieDBTests/MovieCollectionViewControllerTests.swift
  MovieDBTests/MovieCollectionViewStateTests.swift
  MovieDBTests/ViewStateTests.swift
  Podfile
  Podfile.lock
  generated/AutoMockable.generated.swift
Due: ui, domain, data, tests

rx improvements in data layer
  Data/Network/Services/MovieNetworkService.swift
  Data/Repositories/MovieRepository.swift
  Data/Repositories/Rx/MovieRepository+Rx.swift
  Data/Services/DataService.swift
  Data/Services/MovieService.swift
  Domain/RepositoryProtocols/MovieRepositoryProtocol.swift
  MovieDB.xcodeproj/project.pbxproj
  MovieDBDataTests/APIs/MovieDBAPITests.swift
  MovieDBDataTests/Network/Core/URLBuilderTests.swift
  MovieDBDataTests/Network/Services/ImageNetworkServiceTests.swift
  MovieDBDataTests/Network/Services/MovieNetworkServiceTests.swift
  MovieDBDataTests/Repositories/MovieRepositoryTests.swift
  generated/AutoMockable.generated.swift
Due: domain, data, tests

improvements: URLSessionConnector validate response before trying to parsing
  Data/Network/APIs/MovieDBAPI.swift
  Data/Network/Core/NetworkError.swift
  Data/Network/NetworkProviders/URLSessionConnector.swift
  Data/Network/Services/MovieNetworkService.swift
  MovieDBDataTests/Network/Services/MovieNetworkServiceTests.swift
Due: data, tests

jazzy deploy step
  .jazzy.yaml
  .travis.yml
  Gemfile
  fastlane/Fastfile
Due: none

add jazzy
  Gemfile
Due: none

Update Fastfile
  fastlane/Fastfile
Due: none

remove again
  install.sh
Due: none

install
  install.sh
Due: none

updated install script
  .ruby-version
  Gemfile.lock
  README.md
  install.sh
Due: none

jazzy deploy step (#35)
  .jazzy.yaml
  .ruby-version
  .travis.yml
  Gemfile
  Gemfile.lock
  README.md
  fastlane/Fastfile
  install.sh
Due: none

discontinued rawgit: remove rawgit use gh-pages
  README.md
Due: none

fixes travis script
  .travis.yml
Due: none

fixes travis
  .travis.yml
Due: none

fixes travis script (#36)
  .travis.yml
Due: none

minor improvment install.sh
  install.sh
Due: none

travis cleanup - master
  .travis.yml
Due: none

fixes install script
  install.sh
  uninstall.sh
Due: none

added xcode-select to install.sh
  MovieDB.xcodeproj/project.pbxproj
  install.sh
Due: none

update xcode to 11.2
  .travis.yml
  fastlane/Fastfile
Due: none

ignore xcode-select install errors
  install.sh
Due: none

minor fix in install.sh
  install.sh
Due: none

minor fix
  install.sh
Due: none
