Repository timstudt/movieDB: changes, and which Codecov flags are due for each by the changed paths.
All: ui, domain, data, tests

.codecov.yml:

coverage:
  status:
    project:
      default: off
      ui:
        flags: ui
      domain:
        flags: domain
      data:
        target: 89%
        flags: data

flags:
  # filter the folder(s) you wish to measure by that flag
  ui:
    paths:
      - MovieDB/
  domain:
    paths:
      - Domain/
  data:
    paths:
      - Data/
  tests:
    paths:
      - MovieDBTests/
      - MovieDBDataTests/
      - MovieDBUITests/

updated travis for codecov
  .travis.yml
Due: none

Update .travis.yml
  .travis.yml
Due: none

Update .codecov.yml
  .codecov.yml
Due: none

Danger: initial commit - Danger (Ruby)
  .gitattributes
  .gitignore
  .travis.yml
  .xcovignore
  Dangerfile
  Dangerfile.swift
  Gemfile
  Gemfile.lock
  install.sh
  run_all_tests.sh
Due: none

Danger: config swiftlint
  .swiftlint.yml
  Dangerfile
Due: none

danger: fixes scripts
  Dangerfile
  Dangerfile.swift
  MovieDB.xcodeproj/xcshareddata/xcschemes/MovieDBDataTests.xcscheme
  MovieDB.xcodeproj/xcshareddata/xcschemes/MovieDBTests.xcscheme
  install.sh
  run_all_tests.sh
Due: none

update travis with Danger
  .travis.yml
  run_all_tests.sh
Due: none

Danger: update README
  README.md
Due: none

added back gem xcode-install fastlane; added Gym-/Scanfile
  .travis.yml
  Gemfile
  Gemfile.lock
  MovieDB.xcodeproj/xcshareddata/xcschemes/MovieDB.xcscheme
  MovieDB.xcodeproj/xcshareddata/xcschemes/MovieDBDataTests.xcscheme
  MovieDB.xcodeproj/xcshareddata/xcschemes/MovieDBTests.xcscheme
  MovieDBDataTests/MovieNetworkServiceTests.swift
  fastlane/Fastfile
  fastlane/Gymfile
  fastlane/README.md
  fastlane/Scanfile
  fastlane/test_output/report.html
  run_all_tests.sh
Due: tests

update Xcode 10.2.1
  .travis.yml
  fastlane/Fastfile
Due: none

update gems: cocoapods, xcode-install
  Gemfile.lock
Due: none

fix bundler dependency issue
  install.sh
Due: none

set ruby gem version
  install.sh
Due: none

set gem version
  install.sh
Due: none

gem update
  install.sh
Due: none

update travis.yml
  .travis.yml
Due: none

Revert "update travis.yml"
  .travis.yml
Due: none

[WIP] Adding Danger (#22)
  .gitattributes
  .gitignore
  .swiftlint.yml
  .travis.yml
  .xcovignore
  Dangerfile
  Gemfile
  Gemfile.lock
  MovieDB.xcodeproj/xcshareddata/xcschemes/MovieDB.xcscheme
  MovieDB.xcodeproj/xcshareddata/xcschemes/MovieDBDataTests.xcscheme
  MovieDB.xcodeproj/xcshareddata/xcschemes/MovieDBTests.xcscheme
  MovieDBDataTests/MovieNetworkServiceTests.swift
  README.md
  fastlane/Fastfile
  fastlane/Gymfile
  fastlane/README.md
  fastlane/Scanfile
  fastlane/test_output/report.html
  install.sh
  run_all_tests.sh
Due: tests

update cocoapods
  MovieDB.xcodeproj/project.pbxproj
  Podfile.lock
Due: none

Sourcery improvements
  .sourcery.yml
  MovieDB.xcodeproj/project.pbxproj
  MovieDB.xcodeproj/xcshareddata/xcschemes/MovieDB.xcscheme
  MovieDB.xcodeproj/xcshareddata/xcschemes/MovieDBDataTests.xcscheme
  MovieDB.xcodeproj/xcshareddata/xcschemes/MovieDBTests.xcscheme
  MovieDB.xcodeproj/xcshareddata/xcschemes/MovieDBUITests.xcscheme
  Podfile
  Podfile.lock
  generated/AutoMockable.generated.swift
Due: none

Swift5: updated Pods
  .swift-version
  MovieDB.xcodeproj/project.pbxproj
  Podfile
  Podfile.lock
Due: none

Swift5: updated classes, swiftlint, tests
  .swiftlint.yml
  Data/Network/APIs/MovieDBAPI.swift
  Data/Network/Core/NetworkProvider.swift
  Data/Network/Core/URLBuilder.swift
  Data/Network/NetworkProviders/AlamofireConnector.swift
  Data/Network/NetworkProviders/URLSessionConnector.swift
  Data/Network/Services/ImageNetworkService.swift
  Data/Network/Services/NetworkService.swift
  Data/Repositories/ImageRepository.swift
  Data/Repositories/MovieRepository.swift
  Data/UIExtensions/UIImageViewDataExtension.swift
  Domain/Observable+CompletionBlock.swift
  Domain/Result.swift
  Domain/UseCases/GetMovies.swift
  MovieDB.xcodeproj/project.pbxproj
  MovieDB/Application/Shared/CollectionViewDataSource.swift
  MovieDB/Application/UIBaseModule/ModuleProtocols.swift
  MovieDB/Application/VideoCollection/VideoCollectionPresenter.swift
  MovieDB/Application/VideoCollection/VideoCollectionViewCell.swift
  MovieDB/Application/VideoCollection/VideoCollectionViewCellConfigurator.swift
  MovieDB/Application/VideoCollection/VideoCollectionViewController.swift
  MovieDBDataTests/ImageNetworkServiceTests.swift
  MovieDBDataTests/Mocks/Automockable/API+Automockable.swift
  MovieDBDataTests/MovieDBAPITests.swift
  MovieDBDataTests/MovieNetworkServiceTests.swift
  MovieDBDataTests/MovieRepositoryTests.swift
  MovieDBDataTests/URLBuilderTests.swift
  MovieDBTests/ModuleBuilderTests.swift
  fastlane/README.md
  generated/AutoMockable.generated.swift
Due: ui, domain, data, tests

added develop to travis yml
  .travis.yml
Due: none

update travis yml
  .travis.yml
Due: none

Feature/swift5 (#25)
  .sourcery.yml
  .swift-version
  .swiftlint.yml
  .travis.yml
  Data/Network/APIs/MovieDBAPI.swift
  Data/Network/Core/NetworkProvider.swift
  Data/Network/Core/URLBuilder.swift
  Data/Network/NetworkProviders/AlamofireConnector.swift
  Data/Network/NetworkProviders/URLSessionConnector.swift
  Data/Network/Services/ImageNetworkService.swift
  Data/Network/Services/NetworkService.swift
  Data/Repositories/ImageRepository.swift
  Data/Repositories/MovieRepository.swift
  Data/UIExtensions/UIImageViewDataExtension.swift
  Domain/Observable+CompletionBlock.swift
  Domain/Result.swift
  Domain/UseCases/GetMovies.swift
  MovieDB.xcodeproj/project.pbxproj
  MovieDB.xcodeproj/xcshareddata/xcschemes/MovieDB.xcscheme
  MovieDB.xcodeproj/xcshareddata/xcschemes/MovieDBDataTests.xcscheme
  MovieDB.xcodeproj/xcshareddata/xcschemes/MovieDBTests.xcscheme
  MovieDB.xcodeproj/xcshareddata/xcschemes/MovieDBUITests.xcscheme
  MovieDB/Application/Shared/CollectionViewDataSource.swift
  MovieDB/Application/UIBaseModule/ModuleProtocols.swift
  MovieDB/Application/VideoCollection/VideoCollectionPresenter.swift
  MovieDB/Application/VideoCollection/VideoCollectionViewCell.swift
  MovieDB/Application/VideoCollection/VideoCollectionViewCellConfigurator.swift
  MovieDB/Application/VideoCollection/VideoCollectionViewController.swift
  MovieDBDataTests/ImageNetworkServiceTests.swift
  MovieDBDataTests/Mocks/Automockable/API+Automockable.swift
  MovieDBDataTests/MovieDBAPITests.swift
  MovieDBDataTests/MovieNetworkServiceTests.swift
  MovieDBDataTests/MovieRepositoryTests.swift
  MovieDBDataTests/URLBuilderTests.swift
  MovieDBTests/ModuleBuilderTests.swift
  Podfile
  Podfile.lock
  fastlane/README.md
  generated/AutoMockable.generated.swift
Due: ui, domain, data, tests

pbxproj
  MovieDB.xcodeproj/project.pbxproj
Due: none

fixes swiftlint errors
  MovieDB/Application/NotificationService.swift
  MovieDB/Application/VideoCollection/VideoCollectionPresenter.swift
Due: ui

deployment target change fix swiftlint warnings
  .swiftlint.yml
  Data/Network/APIs/MovieDBAPI.swift
  Data/Network/APIs/MovieDBAPIClient.swift
  MovieDB.xcodeproj/project.pbxproj
  MovieDBDataTests/URLBuilderTests.swift
  Podfile
  Podfile.lock
Due: data, tests

Update README.md
  README.md
Due: none

swiftlint: added rules
  .swiftlint.yml
  Data/Network/APIs/MovieDBAPI.swift
  Data/Network/Services/MovieNetworkService.swift
  MovieDBDataTests/ImageNetworkServiceTests.swift
  MovieDBDataTests/MovieDBAPITests.swift
Due: data, tests

more swiftlint rules
  .swiftlint.yml
Due: none

swiftlint: minor changes
  .swiftlint.yml
  Data/Network/Services/MovieNetworkService.swift
  Data/Repositories/ImageRepository.swift
  Data/Repositories/MovieRepository.swift
  Domain/UseCases/GetMovies.swift
  MovieDB.xcodeproj/project.pbxproj
  MovieDB/Application/Router.swift
  MovieDB/Application/Shared/CollectionViewDataSource.swift
  MovieDB/Application/Shared/ReusableCell.swift
  MovieDB/Application/UIBaseModule/View.swift
  MovieDB/Application/VideoCollection/VideoCollectionViewCellConfigurator.swift
  MovieDB/Application/VideoCollection/VideoCollectionViewController.swift
  MovieDBDataTests/MovieNetworkServiceTests.swift
  MovieDBDataTests/MovieRepositoryTests.swift
Due: ui, domain, data, tests

API improvements
  Data/Network/APIs/Endpoints/Endpoint.swift
  Data/Network/APIs/Endpoints/MovieEndpoint.swift
  Data/Network/APIs/Endpoints/SearchEndpoint.swift
  Data/Network/APIs/MovieDBAPI.swift
  Data/Network/Core/URLBuilder.swift
  Data/Network/Services/ImageNetworkService.swift
  MovieDB.xcodeproj/project.pbxproj
  MovieDBDataTests/URLBuilderTests.swift
Due: data, tests

run danger on travis
  .travis.yml
Due: none
